body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #000; }

main {
  padding-top: 100px; }

.logo {
  height: 100px;
  animation: movimiento 3s; }

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3; }

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff; }

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none; }

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4; }

a {
  color: #000;
  text-decoration: none; }

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none; }

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out; }

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  /*float: right;*/
  padding: 48px 30px;
  position: relative;
  user-select: none; }

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px; }

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%; }

.header .menu-icon .navicon:before {
  top: 5px; }

.header .menu-icon .navicon:after {
  top: -5px; }

/* menu btn */
.header .menu-btn {
  display: none; }

.header .menu-btn:checked ~ .menu {
  max-height: 320px; }

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg); }

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg); }

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=submit] {
  width: 100%;
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: grey; }

.contact {
  color: white;
  padding-top: 30px; }

@media (min-width: 48em) {
  .header li {
    float: left; }
  .header li a {
    padding: 38px 30px; }
  .header .menu {
    clear: none;
    float: right;
    max-height: none; }
  .header .menu-icon {
    display: none; } }

footer {
  background-color: grey;
  height: 100px; }

footer p {
  font-weight: bold;
  text-align: center;
  padding-top: 40px; }

.titulo__principal {
  color: aliceblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px; }

.logo {
  height: 100px;
  animation: movimiento 3s; }

.banner__index {
  width: 100%;
  margin-top: 2%; }

.texto__principal {
  color: aliceblue;
  text-align: left;
  font-size: medium;
  font-family: sans-serif;
  padding-top: 30px; }

.img__galeria {
  width: 30%;
  padding: 20px; }

.banner__menus {
  width: 100%;
  display: block;
  position: relative; }

.titulo__menu {
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  top: 43%; }

.titulo__secundario__menu {
  text-align: center;
  color: white; }

.galeria__menus {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: 2%; }

.img__menus {
  width: 100%;
  transition: transform 3s; }

.img__menus:hover {
  transform: scale(1.2); }

.img__wrapper {
  display: inline-block;
  overflow: hidden; }

.texto__menus {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif; }

.bannerPet {
  width: 100%; }
