footer {
  background-color: grey;
  width: 100%;
  height: 140px; 
}

footer p {
  font-weight: bold;
  text-align: center;
  padding-top: 40px; 
}
  
.footer_social_links img{
  @include sizes(40px, 40px);
  margin-right: 20px;
	float: left;
}

.footer_social_container
{
	width: 200px;
	float: right;
}
