.titulo__principal{
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}

.logo{
    height: 100px;
    animation: movimiento 3s;
}

.banner__index{
    width: 100%;
    margin-top: 2%;
}

.texto__principal{
    color: aliceblue;
    text-align: left;
    font-size: medium;
    font-family: sans-serif;
    padding-top: 30px;
}

.img__galeria{
    width: 30%;
    padding: 20px;
}