.banner__novedades {
    width: 100%;
}

.title__novedades {
    text-align: center;
    color: #4A4E69;
    margin-top: 5%; 
}
    
  .title__novedades h2{
   font-size: 60px;
   background-color: azure;
   box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  }

.cards {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: 2%; 
  padding: 5%;
  margin-bottom: 110px; 
}
    
  .card
  {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }

  @media (max-width: 48em) {
    .cards {
    grid-template-columns: 12fr !important;
    }
    }