.banner__novedades {
    width: 100%;
}

.title__novedades {
    text-align: center;
    color: #4A4E69;
    margin-top: 5%; 
}
    
  .title__novedades h2{
   font-size: 60px;
  }

.cards {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    gap: 2%; 
    margin: 5%;
}
    
  .card
  {
      width: 100%;
  }

  @media (max-width: 48em) {
    .cards {
        grid-template-columns: 12fr !important;
    }
    }